@charset "utf-8";
@font-face {
    font-family: 'Nasim';
    src: url('../panel/fonts/nassim.eot');
    src: local('☺'), url('../panel/fonts/nassim.woff') format('woff'), url('../fonts/nassim.ttf') format('truetype'), url('../fonts/nassim.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Jalal';
    src: url('../panel/fonts/BJalal.eot');
    src: local('☺'), url('../panel/fonts/BJalal.woff') format('woff'), url('../fonts/BJalal.ttf') format('truetype'), url('../fonts/BJalal.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Traffic';
    src: url('../panel/fonts/BTraffic.eot');
    src: local('☺'), url('../panel/fonts/BTraffic.woff') format('woff'), url('../fonts/BTraffic.ttf') format('truetype'), url('../fonts/BTraffic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@page {
    size: landscape;
}

@media print {
    .factor  { display: block; page-break-after: always }
}

.barcode
{
    font-family:'Barcode',Sans-Serif;
    text-align:center;
    font-size: 30pt;
}
.num {
    font-family:'Traffic',Sans-Serif;
    direction: ltr;
}
.factor {
    background-color:white;
    font-family: 'Traffic',Nasim,Tahoma,Arial,Sans-Serif;
    color:black;
    font-size: 12px;
    direction: rtl;
    width: 29.7cm;
    margin: 0 auto;
}
.factor .name {
    text-align: center;
    /*display: none;*/
}

.factor strong {
    font-weight: 600;
}

.factor table {
	font-size: 9pt;
}

.factor h1 {
    text-align: center;
}

.factor .header {
    width: 100%;
    display: inline-block;
    margin-top: 30px;
}

.factor .header .title {
    -ms-transform: rotate( -90deg ); /* ie 9 */ 
    -webkit-transform: rotate( -90deg ); /* chrome */ 
    -o-transform: rotate( -90deg ); /* opera */
    -moz-transform: rotate( -90deg ); /* firefox */
    font-weight: bolder;
}

.factor .header .info {
    float: right;
    width: 78.2%;
}

.factor .header .info .seller {
    border: #000 1px solid;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin: 2px 0;
    width: 97%;
    min-height: 80px;
}
.factor .header .info .item {
    display: inline-block;
    padding-left: 37px;
    font-size: 9pt;
    margin: 7px 0;
}


.factor .header .info .buyer{
    border: #000 1px solid;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    margin: 2px 0;
    width: 97%;
    min-height: 80px;
}

.factor .header .code {
    width: 20.2%;
    float: left;
}
.factor .header .code .numfild {
    border: #000 1px solid;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin: 2px 0;
    height: 80px;
}
.factor .header .code .date {
    border: #000 1px solid;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    margin: 2px 0;
    min-height: 80px;
    margin-right: 0px;
}
.factor .header .code .number {
    clear: both 0;

}
.factor .header .code .barcode {
    clear: both;
    text-align: center;
}

.factor .f-1 {
    padding: 10px 0 0 95px;
}

.factor .f-2 {
    padding: 10px 0 0 16%;
}

.factor .f-3 {
    float: right;
    padding: 10px;
}

.factor .f-4 {
    float: left;
    padding: 10px;
}


.factor .factor-tbl {
    width: 100%;
}

.factor .factor-tbl, .factor .factor-tbl th, .factor .factor-tbl td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    font-weight: normal;
}