html, body {
    direction: rtl;
    text-align: right;
    font-family: IRANSans, monospace;
    font-weight: lighter;
}

h1, h2, h3, h4, h5, h6, input, textarea, p, li, a, span {
    font-family: IRANSans, monospace !important;
}

input, textarea, p, li, a, span, td, tr, table {
    font-weight: lighter;
}
.list-view .item{
    padding: 10px 30px;
    margin: 0 -20px;
    border-bottom: 1px solid #c2cad8;
}
.list-view .item:last-child{
    border: initial;
}
.list-view .item:nth-last-of-type(even){
    background-color: #fafafa;
}
.login .content .forget-password {
    font-size: 14px;
    float: none;
    display: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-image-input #coverId img {
    width: 100%;
    padding: 10%;
}

.slider-image-input #slider img {
    width: 100%;
    padding: 10%;
}

.menu-item {
    display: flex;
    height: 100px;
    overflow: hidden;
}

.menu-item img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    vertical-align: middle;
}

.menu-item .menu-content {
    padding: 10px;
}

.menu-item .delete {
    font-size: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

li.sortable-placeholder {
    height: 150px !important;
}