@import "style.css";
@import "fontiran.css";
html, body{
    direction: rtl;
    text-align: right;
    font-family: IRANSans;
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6,input, textarea, p, li, a, span {
    font-family: IRANSans !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
    line-height: inherit;
}
h1 {
    font-weight: bold;
}
@media (min-width: 992px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: right;
    }

    .carousel-caption.slide1{
        width: 40%;
        top: 30%;
        color: #fff;
        left: 5%;
    }
    .carousel-caption.slide2{
        width: 50%;
        left: 48%;
        top:35%;
    }
    .carousel-caption.slide3{
        width: 40%;
        top: 17%;
        color: #000;
        left: 5%;
    }
}
@media (max-width: 767px){
    .col-4_mod div:nth-child(n+1) {
        text-align: right;
    }
}

@media (min-width: 768px){
    .navbar-nav>li {
        float: right;
    }
    .navbar-nav>li+li {
        margin-right: 37px;
        margin-left: initial;
    }
    .carousel-caption.slide1{
        left: 5%;
    }
    .carousel-caption.slide2{
        left: 38%;
    }
    .carousel-caption.slide3{
        color: #000;
        left: 5%;
    }
}
.rd-mobilepanel_title {
    font-size: 13px;
}
@media (max-width: 359px) {
    .rd-mobilepanel_title {
        font-size: 11px;
    }
}
.carousel-inner>.item {
    margin-top: -5%;
}
.stuck_container {
    padding: 42px 0px 10px;
}
.navbar-header .navbar-brand {
    top: -35px;
    padding-left: initial;
}
.navbar-header .navbar-brand:before {
    display: none;
}
.camera_container {
    direction: ltr;
}
.contact-info:before {
    top: -10px;
    right: 0;
    left: initial;
}
.contact-info {
    position: relative;
    padding-right: 86px;
    padding-left: initial;
    margin-right: 26px;
    margin-left: initial;
}
.block-icon {
    padding-right: 51px;
    padding-left: initial;
}
.block-icon .icon-lg {
    left: initial;
    right: 7px;
}
.block-icon .icon {
    left: initial;
    right: 2px;
}
.marked-list li {
    padding-right: 18px;
    padding-left: initial;
}
.marked-list li:before {
    content: '\f0a8';
}
[class*='marked-list'] li:before {
    right: 0;
    left: initial;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}
.index-list {
    margin-left: initial;
}
.index-list li:before {
    left: initial;
    right: 0;
}
.index-list li {
    padding-left: 15px;
    padding-right: 100px;
    text-align: right;
}
.post [class*='fa-']:before, .article-news [class*='fa-']:before {
    padding-right: 5px;
    float: right;
    margin-top: -2px;
    margin-left: 5px;
}
.mail-form{
    text-align: right !important;
}
.mail-form label:first-child {
    margin: 18px 4px !important;
    font-size: 14px;
}
.mail-form .captcha .image{
    padding: 7px;
    float: right;
}
.mail-form .captcha .input{
    padding: 5px;
    float: right;
}
.mail-form .captcha .recode{
    padding: 7px;
}
.post_meta {
    font-family: inherit;
}
.marked-list .img{
    float: right;
    width: 30%;
}
.marked-list .img img{
    width: 100%;
}
.blog{
    color: #000;
    background: #f6f6f6;
}
.post h1{
    font-size: 40px;
}
.post-reading-time{
    display: inline-block;
}
.post-tags {
    float: left;
}
.post-tags h3{
    float: right;
    background: rgb(113, 153, 52);
    padding: 0 7px;
    font-size: 14px;
    margin: 15px 3px;
    border-radius: 5px;
    color: #fff;
}
.well-pricing {
    padding-top: 75px;
    padding-bottom: 70px;
}
.pricing-packages{
    display: table;
    margin: 0 auto;
}
ul li a, ol li a {
    position: inherit;
}
.post-content{
    color: #fff;
}
.post-content p{
    padding: 15px;
}