/*button.btn, .btn-primary, .btn-default {*/
    /*color: #ffffff;*/
    /*background-color: #ff6d00cc;*/
    /*border-color: inherit;*/
/*}*/

/*button.btn:hover, .btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {*/
    /*color: #ffffff;*/
    /*background-color: #e76300;*/
    /*border-color: inherit;*/
/*}*/

/*button.btn:active, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {*/
    /*color: #ffffff !important;*/
    /*background-color: #e76300 !important;*/
    /*border-color: inherit !important;*/
/*}*/

/*button.btn:hover, .btn-primary:hover, .btn-default:hover {*/
    /*color: #ffffff !important;*/
    /*background-color: #e76300 !important;*/
    /*border-color: inherit !important;*/
/*}*/

/*button.btn:focus, .btn-primary:focus, .btn-primary.focus, .btn-default:focus, .btn-default.focus {*/
    /*color: #ffffff !important;*/
    /*background-color: #e76300 !important;*/
    /*border-color: inherit !important;*/
/*}*/

/*.business-details a.icon {*/
    /*background: #ff6d00cc;*/
    /*border-radius: 50%;*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*display: inline-flex;*/
    /*margin: 5px 0 10px 5px;*/
/*}*/

/*.business .panel.info i {*/
    /*font-size: 18px;*/
    /*background-color: #ff6d00cc;*/
    /*color: #fff;*/
    /*border-radius: inherit;*/
    /*width: inherit;*/
    /*height: inherit;*/
    /*line-height: 1.7;*/
    /*vertical-align: middle;*/
    /*text-align: center;*/
    /*display: list-item;*/
/*}*/