body {
    background: #eeeeee;
}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #ff6d00cc;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}

.btn:hover, .btn-large:hover {
    background-color: #e76300;
}
.navbar-top {
    background: #ff6d00;
}

.site-brand a h1 {
    color: #ffffff;
}

.navbar-bottom {
    background: #ff6d00;
}

.navbar-bottom a i {
    color: #ffffff;
}

.side-nav-panel-right i {
    color: #ffffff;
}

.navbar-top .side-nav-panel-right i {
    border-color: #ffffff;
}

.panel {
    width: 95%;
    margin: 10px auto;
    background: #ffffff;
    box-shadow: 0 0 3px #ccc;
    padding: 20px 15px;
    display: block;
}

.panel .icon {
    display: block;
    width: 20%;
    font-size: 22pt;
    text-align: center;
    padding: 0;
    line-height: 3;
}

.panel .icon i {
    width: 75px;
    background: #ff6d0099;
    border-radius: 50%;
    height: 75px;
    vertical-align: top;
    line-height: 2.5;
}

.panel .post {
    display: block;
    width: 80%;
}

.menus .menu-link .icon i {
    color: #ff6d00;
}

.spinner4 {
    background-color: #ff6d00 !important;
}

.blog-content {
    background: #ffffff;
    box-shadow: 0 0 3px #ccc;
}

form {
    margin-top: 10px;
}

form input[type=text], form input[type=number], form input[type=email], form textarea {
    background: #ffffff;
    box-shadow: 0 0 3px #ccc;
    box-sizing: border-box;
    width: 100%;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
    border: 0;
}

form textarea {
    height: inherit;
    padding: 12px;
}


form label {
    font-size: 13px;
    color: #000;
    margin: 10px 0 10px;
    display: block;
}

form .btn-search {
    position: absolute;
    margin-top: 1px;
    height: 40px;
    margin-right: -51px;
    width: 50px;
    text-align: center;
    padding: 0 10px;
    background: #ff6d00;
}

.btn-orange {
    background: #ff6d00;
}

.category-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: normal;
}

.category-list li {
    background: #ffffff;
    box-shadow: 0 0 3px #ccc;
    margin: 8px auto;
    padding: 8px 10px;
}

.category-list li .badge {
    right: inherit;
    float: left;
    position: inherit;
}

.businesses .panel {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.btn-business {
    background: #bbbbbb;
    color: #0b0b0b;
    font-weight: normal;
    border-radius: 15px;
    margin: 0 10px;
    font-size: 11px;
    width: 100%;
}

.business .panel.info {
    width: 100%;
    color: #000000;
    font-size: 13px;
    font-weight: initial;
}

.business .panel.info i {
    font-size: 18px;
    background: #ff6d00cc;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 1.7;
    vertical-align: middle;
    text-align: center;
}

.alert {
    padding: 10px;
    margin: 20px 20px 0;
    box-shadow: 0 0 5px #b9b9b9;
}

.alert-danger {
    background: #eb5050;
    color: #fff;
}

.alert-success {
    background: #119564;
    color: #fff;
}

.alert-warning {
    background: #d7a504;
    color: #ffffff;
}

.alert .close {
    float: left;
    background: #fff;
    color: #000;
    border: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    box-shadow: 0 0 5px #ccc;
}

.alert .close:hover, .alert .close:active {
    opacity: 0.6;
}

.alert i {
    font-size: 15px;
    vertical-align: middle;
    padding-left: 5px;
}

.media-container {
    padding: 0;
    margin: -35px 0 20px;
}

.media {
    margin: 0;
    display: none;
}

.media.active {
    display: block;
}

/**
Editable classes
 */
.editable-submit, .editable-cancel {
    padding: 0;
    background: transparent;
    box-shadow: none;
    margin: 0 5px;
}

.editable-submit i, .editable-cancel i {
    font-size: 18px;
    background: #ff6d00cc;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 1.7;
    vertical-align: middle;
    text-align: center;
}

.editable-input input, .editable-input textarea {
    font-family: 'iransans_num_fa', iransans, Montserrat, sans-serif;
}

.editable.h5 {
    font-size: 16px !important;
    margin-bottom: 3px;
    color: #000000;
    display: inline-block;
}

.blog-content .editable {
    text-align: justify;
}

.side-nav-panel li.profil a {
    display: block;
    font-weight: inherit;
    height: inherit;
    padding: 0;
}

.side-nav-panel .profil img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}