html, body {
    direction: rtl;
    text-align: right;
    font-family: 'iransans_num_fa', iransans, Montserrat, sans-serif;
    font-weight: lighter;
}

.site-brand {
    display: inline-block;
    float: none;
    height: 45px;
    overflow-y: hidden;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.site-brand .img {
    width: 80px;
}
.side-nav-panel .profil {
    padding: 50px 18px 25px 0;
}

.side-nav-panel {
    text-align: right;
}

.side-nav li > a > i, .side-nav li > a > [class^="mdi-"], .side-nav li > a > [class*="mdi-"], .side-nav li > a > i.material-icons {
    float: right;
    line-height: 48px;
    margin: 0 0 0 32px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'iransans_num_fa', iransans, Montserrat, sans-serif;
    font-weight: bolder;
}

.site-brand a h1 {
    font-family: 'iransans_num_fa', iransans, 'Source Sans Pro', sans-serif;
}

.text-center {
    text-align: center;
}

form p {
    margin-bottom: 10px;
    text-align: right;
}

input:not([type]), input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"] {
    margin: 10px 0 10px 0;
}

.help-block.help-block-error {
    color: #b90400;
}

.side-nav-panel .profil {
    background: linear-gradient(rgba(6, 6, 6, 0.74), rgba(6, 6, 6, 0.74)), url(../../../images/lahijan.jpg) center no-repeat;
}

.slider .slides li .caption {
    background: linear-gradient(rgba(6, 6, 6, 0.4), rgba(6, 6, 6, 0.74));
    padding-top: 20px;
    color: #fff;
}

.slider-content .button-default {
    color: #D4AF37;
}

.slider-content h4 {
    color: #fff;
    font-family: iransans_num_fa, serif;
}

.city-posts {
    background: linear-gradient(rgba(6, 6, 6, 0.74), rgba(6, 6, 6, 0.74)), url(../../../images/lahijan.jpg) center no-repeat;
    background-size: cover;
    color: #d4d4d4;
}

.city-posts h4 {
    color: #D4AF37;
}

.city-posts a, .city-posts .btn, .city-posts .button-default, .city-posts .button-link {
    color: #D4AF37;
}

.city-posts article.post {
    border-bottom: 1px solid #b9992f;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.city-posts article.post:last-child {
    border-bottom: 0;
    margin-bottom: inherit;
    padding-bottom: inherit;
}

.news {
    padding-top: 15px;
}

.news .news-item {
    padding: 0.75rem;
}

.news .news-item h4 {
    font-size: 10pt;
    text-align: center;
    color: #a0852e;
    font-weight: initial;
}

.news .new-footer {
    text-align: center;
}

.row .col {
    float: right;
}

.text-center {
    text-align: center;
}
.menus .close-icon {
    line-height: 36px;
}
a, .button-default{
    transition: all 0.5s;
}
a:hover, a:active, .button-default:hover, .button-default:active {
    background: transparent;
    opacity: 0.6;
    box-shadow: none;
}

.news .news-summary{
    border: 1px solid #ddd;
    display: flex;
}
.news .news-summary img{
    float: right;
    width: 30%;
    padding: 0;
    display: inline;
}
.news .news-summary .blog-detailt{
    float: left;
    display: inline;
    width: 70%;
    border: initial;
    margin-bottom: 0;
}

.blog-single .categories i {
    margin-right: 5px;
    margin-bottom: 10px;
}

.img {
    width: 100%;
    vertical-align: middle;
}