@font-face {
    font-family: "iransans";
    src: url("font/iransansbold.eot");
    src: url("font/iransansbold.eot#iefix") format("embedded-opentype"), url("font/iransansbold.woff") format("woff"), url("font/iransansbold.ttf") format("truetype"), url("#iransans") format("svg");
    font-weight: bold;
    font-style: bold;
}

html,
body {
    width: 100%;
    height: 100%;
    direction: rtl;
    font-weight: bold;
}

body {
    font-family: 'iransans', 'Helvetica', 'Arial', 'sans-serif';
}

.masthead a img {
    width: 247px;
    text-align: left;
    margin-left: -12px;
    margin-bottom: 5px;
}

a {
    color: #212121;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover, a:focus {
    color: #f78b00;
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
    border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'iransans', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: bold;
    line-height: 2;
    color: #212121;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
    font-weight: bold;
}

p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

section {
    padding: 100px 0;
    direction: rtl;
    text-align: justify
}

section h2 {
    font-size: 50px;
}

#mainNav {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: white;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    font-family: 'iransans', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: bold;
}

#mainNav .navbar-brand {
    color: #0d1671;
    font-family: 'iransans', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: bold;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: #f78b00;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #222222;
}

#mainNav .navbar-nav > li > a {
    font-size: 11px;
    font-family: 'iransans', 'Helvetica', 'Arial', 'sans-serif';
    text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
    color: #0d1671 !important;
    background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
    background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
    color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
    color: #0d1671;
}

@media (min-width: 992px) {
    #mainNav {
        border-color: transparent;
        background-color: transparent;
    }

    #mainNav .navbar-brand {
        color: fade(white, 70%);
    }

    #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
        color: white;
    }

    #mainNav .navbar-nav > li > a,
    #mainNav .navbar-nav > li > a:focus {
        color: rgba(255, 255, 255, 0.7);
    }

    #mainNav .navbar-nav > li > a:hover,
    #mainNav .navbar-nav > li > a:focus:hover {
        color: white;
    }

    #mainNav.navbar-shrink {
        border-color: rgba(34, 34, 34, 0.1);
        background-color: white;
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: #222222;
    }

    #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
        color: #0d1671;
    }

    #mainNav.navbar-shrink .navbar-nav > li > a,
    #mainNav.navbar-shrink .navbar-nav > li > a:focus {
        color: #222222;
    }

    #mainNav.navbar-shrink .navbar-nav > li > a:hover,
    #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
        color: #0d1671;
    }
}

header.masthead {
    position: relative;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #212121;
    background: url("../img/bg-pattern.png"), #FFCC80;
    background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #fff, #FB8C00);
    background: url("../img/bg-pattern.png"), linear-gradient(to left, #fff, #FB8C00);
}

header.masthead .header-content {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center;
}

header.masthead .header-content h1 {
    font-size: 30px;
}

header.masthead .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto;
}

header.masthead .device-container .screen img {
    border-radius: 3px;
}

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 775px;
        padding-top: 0;
        padding-bottom: 0;
    }

    header.masthead .header-content {
        margin-bottom: 0;
        text-align: right;
    }

    header.masthead .header-content h1 {
        font-size: 30px;
    }

    header.masthead .header-content h1 strong {
        font-size: 50px;
    }

    header.masthead .device-container {
        max-width: 325px;
    }
}

section.download {
    position: relative;
    padding: 150px 0;
}

section.download h2 {
    font-size: 50px;
    margin-top: 0;
}

section.download .badges .badge-link {
    display: block;
    margin-bottom: 25px;
}

section.download .badges .badge-link:last-child {
    margin-bottom: 0;
}

section.download .badges .badge-link img {
    height: 60px;
}

@media (min-width: 768px) {
    section.download .badges .badge-link {
        display: inline-block;
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    section.download h2 {
        font-size: 70px;
    }
}

section.features .section-heading {
    margin-bottom: 100px;
}

section.features .section-heading h2 {
    margin-top: 0;
}

section.features .section-heading p {
    margin-bottom: 0;
}

section.features .device-container,
section.features .feature-item {
    max-width: 325px;
    margin: 0 auto;
}

section.features .device-container {
    margin-bottom: 100px;
}

@media (min-width: 992px) {
    section.features .device-container {
        margin-bottom: 0;
    }
}

section.features .feature-item {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

section.features .feature-item h3 {
    font-size: 30px;
}

section.features .feature-item i {
    font-size: 80px;
    display: block;
    margin-bottom: 15px;
    background: -webkit-linear-gradient(to left, #0d1671, #558B2F);
    background: linear-gradient(to left, #0d1671, #558B2F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.cta {
    position: relative;
    padding: 250px 0;
    background-image: url("../img/bg-cta.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section.cta .cta-content {
    position: relative;
    z-index: 1;
}

section.cta .cta-content h2 {
    font-size: 50px;
    max-width: 450px;
    margin-top: 0;
    margin-bottom: 25px;
    color: white;
}

@media (min-width: 768px) {
    section.cta .cta-content h2 {
        font-size: 80px;
    }
}

section.cta .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

section.contact {
    text-align: center;
    color: white
}

section.contact h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

section.contact h2 i {
    color: #dd4b39;
}

section.contact ul.list-social {
    margin-bottom: 0;
}

section.contact ul.list-social li a {
    font-size: 40px;
    line-height: 50px;
    display: block;
    width: 50px;
    height: 50px;
    color: #212121;
    border-radius: 100%;
}

section.contact ul.list-social li.social-twitter a {
    background-color: #1da1f2;
}

section.contact ul.list-social li.social-twitter a:hover {
    background-color: #0d95e8;
}

section.contact ul.list-social li.social-facebook a {
    background-color: #3b5998;
}

section.contact ul.list-social li.social-facebook a:hover {
    background-color: #344e86;
}

section.contact ul.list-social li.social-google-plus a {
    background-color: #dd4b39;
}

section.contact ul.list-social li.social-google-plus a:hover {
    background-color: #d73925;
}

footer {
    padding: 25px 0;
    text-align: center;
    color: #212121;
    background-color: #fff;
}

footer p {
    font-size: 12px;
    margin: 0;
}

footer ul {
    margin-bottom: 0;
}

footer ul li a {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
    text-decoration: none;
}

.bg-primary {
    background: #f78b00;
    background: -webkit-linear-gradient(#f78b00, #fff);
    background: linear-gradient(#f78b00, #fff);
}

.text-primary {
    color: #0d1671;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.btn-outline {
    color: black;
    background-color: #f78b00;
    font-weight: bold;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    color: white;
    border-color: #0d1671;
    background-color: #0d1671;
}

.btn {
    border-radius: 300px;
    font-family: 'iransans', 'Helvetica', 'Arial', 'sans-serif';
}

.btn-xl {
    font-size: 18px;
    padding: 15px 45px;
}

.logos {
    padding: 20px 0;
}

.logos img {
    height: auto;
    max-height: 40px;
    max-width: 33%;
    margin: 0 5px 15px 5px;
}